.template-contact {
    background-image: url('contact-bg.jpg');
    min-height: 100dvh;
}

.contact-footer {
    margin-top: auto;
    margin-bottom: 2rem;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contact-footer__logomark-container {
}

.contact-footer__logomark {
    width: 100%;
    max-width: 26px;
    svg {
        display: block;
        width: 100%;
        path {
            fill: $black;
        }
    }
}

.contact-footer__nav {
    .social {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 124px;
        margin: 0;
        li {
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
            svg {
                width: 100%;
                path {
                    transition: fill 1s;
                    fill: $black;
                }
            }
            a {
                display: inline-block;
                &:hover {
                    svg path {
                        fill: $darkgray;
                    }
                }
            }
            a.instagram {
                width: 14px;
            }
            a.facebook {
                width: 12px;
            }
            a.tiktok {
                width: 11px;
            }
            a.youtube {
                width: 17px;
            }
        }
    }
}