{% for block in section.blocks %}
  {% if block.type == 'Header' %}
    <div class="contact-info__divider js-draw-right"></div>
    <h2 class="contact-info__title">
      {{ block.settings.title }}
    </h2>
  {% elsif block.type == 'Contact-Method' %}
    <p class="contact-info__tagline">
      {{ block.settings.title }}
    </p>
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Contact Info",
    "tag": "section",
    "class": "contact-info wrapper",
    "blocks": [
      {
        "name": "Header",
        "type": "Header",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Contact Header"
          }
        ]
      }, {
        "name": "About",
        "type": "Subheadline",
        "settings": [
          {
            "type": "textarea",
            "id": "subheadline",
            "label": "Contact Copy"
          }
        ]
      }, {
        "name": "Illustration",
        "type": "Graphic",
        "settings": [
          {
            "type": "image_picker",
            "id": "graphic",
            "label": "Wheelies Illustration",
            "info": "Upload one of the donut people illustrations included in your branding files! For best results, use a PNG with a transparent background."
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Contact",
        "name": "Contact"
      }
    ]
  }
{% endschema %}