{% if section.blocks %}

  <div class="contact-info__close-btn">
    {%- render "close" -%}
  </div>

  {% for block in section.blocks %}
    <div class="contact-info__content">

      {% if block.type == "header" %}
        <h2 class="contact-info__header">
          {{ block.settings.title }}
        </h2>

      {% elsif block.type == "subheadline" %}
        <p class="contact-info__subheadline">
          {{ block.settings.title | remove: "<p>" | remove: "</p>" }}
        </p>

      {% elsif block.type == "graphic" %}
        {{ block.settings.title | image_url: height: 125 | image_tag }}

      {% elsif block.type == "copy" %}
        <p class="contact-info__copy">
          {{ block.settings.title }}
        </p>

      {% endif %}
    {% endfor %}
  </div>
{% endif %}

{% schema %}
  {
    "name": "Contact Info",
    "tag": "section",
    "class": "contact-info",
    "blocks": [
      {
        "name": "Header",
        "type": "header",
        "settings": [
          {
            "type": "inline_richtext",
            "id": "title",
            "label": "Contact Header"
          }
        ]
      }, {
        "name": "About",
        "type": "subheadline",
        "settings": [
          {
            "type": "richtext",
            "id": "title",
            "label": "Contact Subheadline"
          }
        ]
      }, {
        "name": "Illustration",
        "type": "graphic",
        "settings": [
          {
            "type": "image_picker",
            "id": "title",
            "label": "Wheelies Illustration",
            "info": "Upload one of the donut people illustrations included in your branding files! For best results, use a PNG with a transparent background."
          }
        ]
      }, {
        "name": "Contact Info",
        "type": "copy",
        "settings": [
          {
            "type": "richtext",
            "id": "title",
            "label": "Contact Info"
          }
        ]
      }
    ],
    "presets": [
      {
        "category": "Contact",
        "name": "Contact"
      }
    ]
  }
{% endschema %}