<div class="header-wrapper js-header">
  <div class="header">

    {%- if section.settings.instagram-url -%}
      <a class="header__social" href="{{ section.settings.instagram-url | escape }}">
        {%- render "icon-instagram" -%}
      </a>
    {%- endif -%}

    {%- if section.settings.cta -%}
      <a
        class="header__cta"
        href="{{ section.settings.cta }}"
        href="{{ section.settings.cta }}">{{ section.settings.cta_label }}</a>
    {%- endif -%}

    <div class="header__icons"></div>

  </div>
</div>

{% schema %}
  {
    "name": "t:sections.header.name",
    "tag": "header",
    "class": "header-container js-header",
    "settings": [
      {
        "type": "url",
        "id": "cta",
        "label": "Call to Action"
      }, {
        "type": "text",
        "id": "cta_label",
        "label": "CTA Label"
      }, {
        "type": "url",
        "id": "instagram-url",
        "label": "Instagram URL"
      }
    ]
  }
{% endschema %}