<div class="hero__content">

  {%- if section.settings.title -%}
    <h2 class="hero__content__tagline">{{ section.settings.title }}</h2>
  {%- endif -%}

  {%- if section.blocks -%}
    {% for block in section.blocks %}
      <img src="{{ block.settings.slide | img_url: "medium"}}">
    {% endfor %}
  {%- endif -%}

  {%- render "wheelies-landing" -%}

</div>

{% schema %}
  {
    "name": "Hero",
    "tag": "section",
    "class": "hero js-hero",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "title",
        "label": "Tagline"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide",
            "label": "Slide"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}