<div class="hero__content">
  {%- if section.blocks -%}
    {% for block in section.blocks %}
      <img src="{{ block.settings.slide | img_url: "medium"}}">
    {% endfor %}
  {%- endif -%}
</div>

{% schema %}
  {
    "name": "Hero Animation",
    "tag": "section",
    "class": "hero js-hero",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "tagline",
        "label": "Tagline"
      }, {
        "type": "text",
        "id": "title",
        "label": "Slideshow Animation"
      }
    ],
    "blocks": [
      {
        "name": "Slide",
        "type": "slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "slide",
            "label": "Slide"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Animation"
      }
    ]
  }
{% endschema %}