.centered-copy {
    text-align: center;
    padding: 2rem;
    @include breakpoint($laptop) {
        padding: 8rem 0;
    }
    .h5 {
        margin-bottom: 1rem;
        display: inline-block;
        position: relative;
        @include breakpoint($laptop) {
            margin-bottom: 3rem;
        }
    }
    p {
        font-size: $h2_mobile;
        font-family: $serif;
        position: relative;
        z-index: 3;
        @include breakpoint($laptop) {
            font-size: $h2;
        }
    }
}

.centered-copy__subheadline {
    display: block;
    width:  fit-content;
    margin: 0 auto;
    position: relative;
    svg {
        position: absolute;
        left: 0;
        top: 1em;
        width: 365px;
        transform: translateX(calc(-100% - 2rem));
    }
}

.our-founder {
    position: relative;
}

.centered-cta {
    display: flex;
    justify-content: center;
}