.collection-grid {
    width: 100%;
    padding-top: 10rem;
    position: relative;
    .grid__item {
        display: block;
        border-bottom: 1px solid $medgray;
        &:nth-child(odd) {
            @include breakpoint($laptop) {
                border-right: 1px solid $medgray;
            }
        }
    }
    .grid {
        @include breakpoint($laptop) {
            grid-template-columns: repeat(2, minmax(0,1fr));
        }
    }
    .grid--2 {
        grid-template-columns: repeat(2, minmax(0,1fr));
    }
}

.grid-container {
    position: relative;
}

.collection-grid__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1em;
    .h1 {
        max-width: 66%;
    }
    @include breakpoint($laptop) {
        .h1 {
            max-width: 100%;
        }
    }
}

.collection-grid__btns {
    display: flex;
    @include breakpoint($laptop) {
        display: none;
    }
}

.collection-grid__btn {
    padding: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    svg {
        width: 13px;
        display: block;
    }
}

.collection-card {
    position: relative;
    height: 100%;
    color: $black;
    text-decoration: none;
    display: block;
    .product__media {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        img, video, .static, .hover {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
        .static {
            position: relative;
        }
        .hover {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 1s;
        }
    }
    &:hover {
        .product__media {
            .hover {
                opacity: 1;                
            }
        }
    }
    .product__details {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        @include breakpoint($laptop) {
            padding: 2rem;
        }
        span {
            display: block;
            font-size: $ui;
            @include breakpoint($laptop) {

            }
        }
    }   
}