.hero {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: $pink;

    &__content {
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        ". tagline ."
        ". image ."
        ". . .";
        grid-template-columns: 1fr 40% 1fr;
        grid-template-rows: 1fr 60% 1fr;
        align-items: center;
        @include breakpoint($laptop) {
            grid-template-columns: 1fr 22.5% 1fr;
        }
        img {
           grid-area: image;
           margin: 0 auto;
           width: 100%;
           height: auto;
        }
        &__tagline {
            grid-area: tagline;
            justify-self: center;
            color: $orange;
            text-transform: uppercase;
        }

    }
}

.wheelies-landing-logo {
    position: absolute;
    z-index: 300;
    margin: 0 auto;
    height: 100vh;
    width: auto;

    .part-one {
        fill: $blue;
    }
    .part-two, .part-three {
        fill: $orange;
    }
    .part-four, .part-five {
        fill: white;
    }
}