.hero {
    height: 100vh;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: $pink;

    &__content {
        margin: 0 auto;
        display: flex;
        
    }
}