.related-products {
    padding: 2rem 0;
    width: 100%;
    margin: 0 auto;
    @include breakpoint($laptop) {
        padding: 8rem 0;
    }
    .vertical-line {
        width: 1px;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
    .h5 {
        text-align: center;
    }
}

.related-products__slide {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    // grid-template-columns: repeat(3, minmax(0,1fr));
    @include breakpoint($laptop) {
        display: grid;
        grid-template-columns: 1fr 420px 1fr;
        align-items: center;
        max-width: 1000px;
        margin: 0 auto;
    }
    
    .title {
        text-align: center;
        text-decoration: none;
        color: inherit;
        font-family: $serif;
        order: 1;
        @include breakpoint($laptop) {
            order: unset;
        }
    }
    .details {
        order: 2;
        padding: 0 2rem;
        margin: 0 auto;
        text-align: center;
        margin-top: 1em;
        p {
            margin-bottom: 0;
        }
        @include breakpoint($laptop) {
            order: unset;
            max-width: unset;
            text-align: left;
            padding: 0;
            margin-top: 0;
        }
    }
    .image {
        background: $bg;
        display: block;
        img {
            display: block;
            width: 100%;
            mix-blend-mode: multiply; // comment me out when actual images are in
            height: auto;
        }
    }
}