.contact-info {
  position: absolute;
  z-index: 500;
  height: 100dvh;
  width: 100vw;
  background-color: $mint;
  color: $blue;
  text-align: center;
  font-family: $sans;

  &__close-btn {
    max-width: calc(100% - 2rem);
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    svg {
      stroke: $blue;
      cursor: pointer;
    }
  }

  &__content {
    margin: 0 auto;
    height: 100%;
    max-width: calc(100% - 4rem);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    &__header {
      font-size: $h2;
      text-transform: uppercase;
    }
  
    &__copy {
      a {
        text-decoration: none;
        color: $blue;
      }
    }
  }

}
